*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    line-height: 1.6;
}
/*encabezado */
.head-top{
    background-color:transparent;
    position:absolute;
    width:100%;
    z-index:1;
}

.lista-encabezado{    
    height: 10%;    
    font-family: 'Open Sans', sans-serif;
    size: 14;
    padding: 15px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    color:white;
}
  
li a {    
    margin-left: 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: black;
    background-color: #8fbea763;
} 


/* Fotos deslizandoce*/
.slide{
    height: 15%;
    margin-bottom:2px;    
}

/*Formulario de reservas*/
.book{
    padding: 20px;
    background-color: #84b09b;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);    
}

#chekin-date{
    border-radius: 5px;
    margin:4px;
}

#chekout-date{
    border-radius: 5px;
    margin:4px;
}

#adulto{
    border-radius: 5px;
    margin:4px;
    width: 40px;
}

#niños{
    border-radius: 5px;
    margin:4px;
    width: 40px;
}

#habitacion{
    border-radius: 5px;
    margin:4px;
    width: 40px;
}

.etiqueta {
    font-weight: bold;
    font-size: 18px; 
}

.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;    
    border: 3px solid #fff;
    color: white;    
    
}
.btn:hover{
    opacity: 0.85;
    background: transparent;
    
}

/*about*/
.about {
    display:flex;
    background-color: #84b09b;
    margin-bottom: 50px;
    margin-top: 5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}  
  
.izquierda  {
    width: 50%;    
    margin-top: 20px;    
    padding: 20px;    
}

.derecha { 
    margin-top: 40px;   
    width: 40%;
    float: right;
    max-height: auto; 
    margin-left: 20px;
    overflow: hidden;
    padding: 20px;  
}   
.about .image2 {
    width: 100%;
    height: auto;    
    bottom: 5px;
    z-index: 2;  
} 

/* customers */

.customers{    
    padding: 40px ;
    display: flex;       
}

.title{
    text-align: center;
    font-weight: bold;
}

.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);   
}

#customer1{
   height: 517px;
   width: 568px;
   max-height: auto;
   overflow: hidden;
   float: left;
   margin: 25px;
}

#customer2{
    height: 517px;
    width: 568px;
   overflow: hidden;
   float: left;
   margin: 25px;
}

#customer3{
   height: 517px;
   width: 568px;
   max-height: auto;
   overflow: hidden;
   float: left;
   margin: 25px;
} 

.rating{
    margin: 10px 0;  
    color:#e3b155; 
}


.customer h3{
    font-size: 25px;
    text-align: center;
}


.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
    
}

.customer img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin: 25px auto;
    height: fit-content;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}

/* footer */
.footer{
    background: #84b09b;
    color: #fff;
    text-align: center;
    display: grid;
    padding:10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.contact-item span{
    display: block;
}

a {
    color:#fff;
}

a:hover{
    color:rgba(255, 255, 255, 0.445);
}

.copy{
    margin-top: 20px;
}


